[submodule "target/wimatrix"]
	path = target/wimatrix
	url = git@github.com:racerxdl/wimatrix.git
[submodule "target/libraries/FastLED"]
	path = target/libraries/FastLED
	url = https://github.com/racerxdl/FastLED.git
[submodule "target/libraries/MQTT"]
	path = target/libraries/MQTT
	url = https://github.com/256dpi/arduino-mqtt.git
[submodule "target/libraries/ArduinoJson"]
	path = target/libraries/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "target/libraries/NTPClient"]
	path = target/libraries/NTPClient
	url = https://github.com/arduino-libraries/NTPClient.git
